@using DH.Inspection.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About;
    ViewBag.Title = L("About");
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("About")</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3>背景介绍</h3>
                        <p>
                            <a href="http://www.dinghantech.com/" target="_blank">北京鼎汉技术集团股份有限公司</a>成立于2002年6月，是一家从事轨道交通各类电气化高端装备及智能信息化系统解决方案研发、
                            供应和维护的高新技术企业。2009年，鼎汉技术在深圳证券交易所上市，成为中国第一批创业板上市企业（股票代码：300011）。
                            公司现部署营销及服务平台遍布全国50多个城市以及德国、法国等地，覆盖国内所有轨道交通线路，海外应用业绩覆盖30多个国家和地区，
                            在中国与欧洲设有7个研发中心，6个生产基地，员工数量超过1,800人。
                        </p>

                        <h3>产品介绍</h3>

                        <p>
                            公司旗下产品划分为地面电气装备、车辆电气装备、信息化与智能检测以及运维服务四类解决方案，覆盖信号智能电源、轻量化中高频辅助电源、智慧环保车辆空调、智能检测、屏蔽门、线缆、UPS、智慧车站等30余项产品和系统方案。
                        </p>

                        <h3>资源介绍</h3>
                        <p>
                            鼎汉在中国与德国拥有近400名工程技术背景成员，每年围绕研发的投入超过1亿元，拥有近400项知识产权。近年来，随着持续研发投入与技术积累，公司在轻量化技术、智能化解决方案以及绿色环保创新领域取得重要进展，培育出新的核心竞争力与增长点，逐步成为行业内具多元化解决方案的综合服务商之一。鼎汉技术扎根于轨道交通业，以技术为根基，公司将持续为客户提供更安全、更绿色、更智能、更创新的综合解决方案，创造更卓越的商业价值与综合服务能力，逐步发展成为全球轨道交通车辆制造企业与运营单位值得信赖的一流供应商和伙伴。
                        </p>
                        <h4>企业文化</h4>
                        <p>
                            <strong>鼎汉的愿景</strong><br />
                            打造轨道交通行业最值得信赖的国际一流企业
                            To be the most respected world-class company in the rail transportation industry
                            <br />
                            <strong>鼎汉的使命</strong><br />
                            技术推动行业进步     实现人类幸福出行
                            We endeavor to drive forward advancement of the rail industry and create the ultimate travel experience
                            <br />
                            <strong>鼎汉-核心价值观</strong><br />
                            勇于担当    Accountability<br />
                            说到做到    Execution Power<br />
                            追求卓越    Pursuit of Excellence<br />
                            合作共赢    Collaborate to Win<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
