@using DH.Inspection
<footer class="main-footer">
    <strong>鼎汉 &copy; @DateTime.Now.Year <a href="javascript:void(0);">巡检系统</a>.</strong> 鼎汉检测
    <div class="float-right d-none d-sm-inline-block">
        <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</footer>
